{"openapi":"3.0.0","info":{"title":"Swagger","description":"Swagger test api","termsOfService":"","contact":{"name":"swoft","url":"https::\/\/www.swoft.org","email":"swoft@qq.com"},"license":{"name":"Apache 2.0","url":"https:\/\/github.com\/swoft-cloud\/swoft\/blob\/master\/LICENSE"},"version":"1.0"},"servers":[{"url":"xxx.swoft.org","description":"xxx env"},{"url":"xxx2.swoft.org","description":"xxx2 env"}],"paths":{"\/swg\/index":{"summary":"","description":"","get":{"tags":["user"],"summary":"api index","description":"home index","operationId":"","responses":{"200":{"description":"","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/SwoftTest_Swagger_Testing_Schema_IndexResponseSchema"}}}}},"deprecated":false,"servers":[{"url":"https:\/\/index.swoft.org","description":"v1"},{"url":"https:\/\/index2.swoft.org","description":"v2"}]},"post":{"tags":["user"],"summary":"api index","description":"home index","operationId":"","requestBody":{"description":"Request body","content":{"application\/json":{"schema":{"type":"object","properties":{"name":{"type":"string","description":"Name params","default":""},"age":{"type":"integer","description":"Age params"},"id":{"type":"integer","description":"Id params","default":9},"title":{"type":"string","description":"Title","default":""}},"description":""}}},"required":false},"responses":{"200":{"description":"","content":{"application\/json":{"schema":{"$ref":"#\/components\/schemas\/SwoftTest_Swagger_Testing_Schema_IndexResponseSchema"}}}}},"deprecated":false,"servers":[{"url":"https:\/\/index.swoft.org","description":"v1"},{"url":"https:\/\/index2.swoft.org","description":"v2"}]}}},"components":{"schemas":{"App_Model_Entity_User":{"type":"object","properties":{"id":{"type":"integer","description":""},"name":{"type":"string","description":""},"age":{"type":"integer","description":""},"userDesc":{"type":"string","description":""},"add":{"type":"integer","description":""},"hahh":{"type":"integer","description":""},"testJson":{"type":"object","description":""}},"description":""},"App_Model_Entity_User3":{"type":"object","properties":{"id":{"type":"integer","description":""},"name":{"type":"string","description":""},"age":{"type":"integer","description":""},"udesc":{"type":"string","description":""}},"description":""},"App_Model_Entity_Count2":{"type":"object","properties":{"id":{"type":"integer","description":""},"userId":{"type":"integer","description":""},"createTime":{"type":"integer","description":""},"attributes":{"type":"string","description":"attributes"}},"description":""},"App_Model_Entity_Count":{"type":"object","properties":{"id":{"type":"integer","description":""},"userId":{"type":"integer","description":""},"createTime":{"type":"integer","description":""},"attributes":{"type":"string","description":""},"updateTime":{"type":"string","description":""}},"description":""},"App_Model_Entity_Desc":{"type":"object","properties":{"id":{"type":"integer","description":""},"desc":{"type":"string","description":""}},"description":""},"SwoftTest_Db_Testing_Entity_User":{"type":"object","properties":{"id":{"type":"integer","description":""},"name":{"type":"string","description":""},"hahh":{"type":"integer","description":""},"age":{"type":"integer","description":""},"udesc":{"type":"string","description":""},"testHump":{"type":"string","description":"this key is hump"},"testJson":{"type":"object","description":""},"amount":{"type":"number","description":""}},"description":""},"SwoftTest_Db_Testing_Entity_Count2":{"type":"object","properties":{"id":{"type":"integer","description":""},"userId":{"type":"integer","description":""},"createTime":{"type":"integer","description":""},"attributes":{"type":"string","description":"attributes"}},"description":""},"SwoftTest_Db_Testing_Entity_Count":{"type":"object","properties":{"id":{"type":"integer","description":""},"userId":{"type":"integer","description":""},"createTime":{"type":"integer","description":""},"attributes":{"type":"string","description":""},"updateTime":{"type":"string","description":""}},"description":""},"SwoftTest_Db_Testing_Entity_User4":{"type":"object","properties":{"id":{"type":"integer","description":""},"name":{"type":"string","description":""},"age":{"type":"integer","description":""},"udesc":{"type":"string","description":""},"testHump":{"type":"string","description":"this key is hump"}},"description":""},"SwoftTest_Db_Testing_Entity_Count4":{"type":"object","properties":{"id":{"type":"integer","description":""},"userId":{"type":"integer","description":""},"createTime":{"type":"integer","description":""},"attributes":{"type":"string","description":"attributes"}},"description":""},"SwoftTest_Swagger_Testing_Entity_User":{"type":"object","properties":{"id":{"type":"integer","description":"ID"},"name":{"type":"string","description":"name"},"age":{"type":"integer","description":"Age"},"udesc":{"type":"string","description":"User Desc"}},"description":""},"SwoftTest_Swagger_Testing_Schema_IndexData":{"type":"object","required":["page","count","userInfo","list","other"],"properties":{"page":{"type":"integer","description":"Age params","default":1},"count":{"type":"integer","description":"Count params","default":0},"userInfo":{"type":"object","properties":{"name":{"type":"string","description":"name"}},"description":"User Info"},"list":{"type":"object","properties":{"id":{"type":"integer","description":"ID"},"name":{"type":"string","description":"name"},"udesc":{"type":"string","description":"User Desc"}},"description":"User list"},"other":{"type":"object","required":["id","count","desc","amount","isBegin"],"properties":{"id":{"type":"integer","description":"ID params"},"count":{"type":"integer","description":"Count params"},"desc":{"type":"string","description":"Desc params","default":""},"amount":{"type":"number","description":"Double params","default":0},"isBegin":{"type":"boolean","description":"Bool params","default":false}},"description":"Other data"}},"description":""},"SwoftTest_Swagger_Testing_Schema_IndexOther":{"type":"object","required":["id","count","desc","amount","isBegin"],"properties":{"id":{"type":"integer","description":"ID params"},"count":{"type":"integer","description":"Count params"},"desc":{"type":"string","description":"Desc params","default":""},"amount":{"type":"number","description":"Double params","default":0},"isBegin":{"type":"boolean","description":"Bool params","default":false}},"description":""},"SwoftTest_Swagger_Testing_Schema_IndexResponseSchema":{"type":"object","required":["data","status","code","message","serverTime"],"properties":{"data":{"type":"object","required":["page","count","userInfo","list","other"],"properties":{"page":{"type":"integer","description":"Age params","default":1},"count":{"type":"integer","description":"Count params","default":0},"userInfo":{"type":"object","properties":{"name":{"type":"string","description":"name"}},"description":"User Info"},"list":{"type":"object","properties":{"id":{"type":"integer","description":"ID"},"name":{"type":"string","description":"name"},"udesc":{"type":"string","description":"User Desc"}},"description":"User list"},"other":{"type":"object","required":["id","count","desc","amount","isBegin"],"properties":{"id":{"type":"integer","description":"ID params"},"count":{"type":"integer","description":"Count params"},"desc":{"type":"string","description":"Desc params","default":""},"amount":{"type":"number","description":"Double params","default":0},"isBegin":{"type":"boolean","description":"Bool params","default":false}},"description":"Other data"}},"description":"Response data"},"status":{"type":"integer","description":"Response status","default":200},"code":{"type":"integer","description":"Response code","default":0},"message":{"type":"string","description":"Message","default":""},"serverTime":{"type":"integer","description":"Server time","default":0}},"description":""},"SwoftTest_Swagger_Testing_Schema_IndexRequestSchema":{"type":"object","description":""}}}}